@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --white-color: hsl(0, 0%, 96%);
}

/* pallet */
.text-info{
    color: #036386 !important;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    display: flex;
}

.main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fff;
    min-width: 0;
}

/* card table */
.card-table{
    background: transparent;
    border: 2px solid #D79A9A;
    border-radius: 10px;
}

.card-form{
    border: 2px solid #008BBF;
    border-radius: 10px;
}

.card-header-table{
    background: transparent;
}

.form-cari{
    border: 2px solid #59C8F0;
    background: transparent;
}

/* btn */
.btn-filter{
    border: 2px solid #036386;
}

.btn-plus-data{
    border: 2px solid #036386;
}

#sidebar{
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #008BBF;
    display: flex;
    flex-direction: column;
    border-radius: 0 10px 10px 0;
}

#sidebar.expand{
    width: 260px;
    min-width: 260px;
}

#toggle-btn{
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

#toggle-btn i{
    font-size: 1.5rem;
    color: #fff;
}

.sidebar-logo{
    margin: auto 0;
}

.sidebar-logo a{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span{
    display: none;
}

#sidebar.expand .sidebar-logo,
#sidebar.expand a.sidebar-link span{
    animation: fadeIn .25s ease;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.sidebar-nav{
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link{
    padding: .625rem 1.625rem;
    color: #fff;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i,
.dropdown-item i{
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover{
    background-color: #fff;
    color: #008BBF;
    border-left: 3px solid #036386;
    border-radius: 10px;
}

.sidebar-item{
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: white;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
    color: #036386;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.navbar{
    background-color: #036386;
    box-shadow: 0 0 2rem rgba(33, 37, 41, .1);
    border-radius: 10px;
}

.navbar-expand .navbar-collapse{
    min-width: 200px;
}

.avatar{
    height: 40px;
    width: 40px;
}

.content{
    flex: 1 1 auto;
}

.text-success{
    background-color: #00bf39;
    padding: 0.25rem 0.35rem;
    font-size: 0.715rem;
    color: #fff !important;
    border-radius: 5px;
}

/* btn-upload-file */
/* .upload-file{
    background-color: #008BBF;
    width: 240px;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-file input{
    width: 240px;
    height: 50px;
    opacity: 0;
}

.upload-file span{
    width: 260px;
    color: var(--white-color);
} */


footer{
    background-color: #008BBF;
    padding: 1rem .875rem;
}

footer a{
    color: #fff;
}

@media (min-width: 768px){
    .navbar form{
        max-width: 320px;
    }
    .input-group-navbar .form-control{
        color: #fff;
    }
    .navbar-expand .navbar-nav .dropdown-menu{
        box-shadow: 0 .1rem .2rem rgba(0, 0, 0, .05);
    }
}



